
nav {
  position: fixed;
  background: #00a087;
  color: #e8fdff;
  top: 0;
  right: 0;
  left: 0;
  padding-left: 2em ;
  padding-right: 2em ;

}

#nav-bar .logo{
  float: left;
  margin-right: 10px;
  width: 80px;
  height: 80px;
}

#nav-bar .header{
  float: left;
  font-size: 2em ;
  line-height: 2.5;
}

nav > button {
    float: right;
    margin: 2em;
    border-radius: 5px;
    background-color: #eee;
    color:#00a087;
    height:2em;
}

nav > button:hover {
  background-color: white;
  color:black;
}
